{% extends 'core/base.html' %}

{% block title %} Contacto {% endblock %}

{% block image-header %} contact {% endblock %}

{% block title-header %} 
<div>
    <h1 class="display-4 fw-bold">Contacto</h1>
</div>
<div>
    <h3 class="fs-2">Consultoria</h3>
</div>
{% endblock %}

{% block content %} 

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Asesoría y presupuestos para proyectos de análisis de datos, visualizaciones, limpieza y 
            preprocesamiento, desarrollo de aplicaciones web, integración de bases de datos, despliegue y 
            mantenimiento de pipeline y paginas web.</p>
        <br>
        <p align ="left">
            <a href="mailto:atlasnexus193@gmail.com">
                <img src="https://skillicons.dev/icons?i=gmail" alt="Gmail">
            </a>
        </p>
    </div>
</div>

{% endblock %}


