{% extends 'core/base.html' %}

{% block title %} Inicio {% endblock %}

{% block image-header %} home {% endblock %}

{% block title-header %} 
<div>
    <h1 class="display-4 fw-bold">Jose Ignacio</h1>
</div>
<div>
    <h3 class="fs-2">Data Scientisc & Desarrollador Web</h3>
</div>

{% endblock %}

{% block content %} 
<h1 class="fw-lighter fst-italic px-5">Bienvenido al mundo de los datos y el desarrollo web, apasionados por transformar datos en conocimiento y crear soluciones para la eficiencia de tu empresa</h1>
{% endblock %}